@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .reveal-text {
  font-weight: 800;
  font-size: 80px;
  line-height: 3rem;
  color: #2A2A2A;
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
} */
